.index-title {
  font-size: 100px;
}
// 輪播區
.bgcarosel {
  width: 856px;
  height: 567px;
  background: url("../assets/images/筆1.jpg");
  background-size: auto;
}

.bgcarosel2 {
  width: 856px;
  height: 567px;
  background: url("../assets/images/人2.jpg");
  background-size: auto;
}

.bgcarosel3 {
  width: 856px;
  height: 567px;
  background: url("../assets/images/圖3.jpg");
  background-size: auto;
}

.bgbrown200{
  background-color:#F3EEE8;
}